@import "common.css" screen;
@import "article.css" screen;

.comment-block {
    position: relative;
    width: 70%;
    min-width: 400px;
    padding: 15px;
}

.comment-block:hover {
    background: rgba(0,0,50,0.1);
}

.comment-block .title {
    font-size: 1.3rem;
}

.comment-block .text {
    margin: 20px 0 5px 0;
}

.comment-block .edit-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background: gray;
}

.comment-block .time {
    font-size: 0.6rem;
    color: gray;
}