.article-block {
}

.article-block .title {
    display: block;
    margin-bottom: 15px;
    font-size: 1.3rem;
}

.article-block .title:hover {
    color: black;
}

.article-block .text {
    max-height: 400px;
    margin: 20px 0 5px 0;
    line-height: 1.7;
    overflow: hidden;
}

.article-block .time {
    padding-top: 10px;
    font-size: 0.8rem;
    color: gray;
}

.comment-block {
    position: relative;
    width: 70%;
    margin-bottom: 1px;
    padding: 15px;
    background: rgba(0,0,50,0.1);
}

.comment-block:hover {
}

.comment-block .author {
    line-height: normal;
    font-size: 1.3rem;
}

.comment-block .text {
}

.comment-block .edit-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background: gray;
}

.commentCount {
    margin-left: 3px;
}

.commentCount, .time {
    font-size: 0.7rem;
    color: gray;
}