body, h1, h2, h3, ul, li, p, a {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1, h2, h3 {
    font-family: 'Play', sans-serif;
}

form input {
    width: 90%;
    height: 25px;
    margin: 0 0 10px 0;
    border-radius: 3px;
    border: 1px solid gray;
}

form textarea {
    width: 90%;
}

.main-col {
    position: relative;
    width: 80%;
    margin: auto;
}

.title {
    color: lightslategrey;
}

.page {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0 0 5px 1px gray;
}

.page .content {
    padding: 25px 40px;
}

.w-limmiter {
    margin: auto;
    max-width: 900px;
}

.center-text {
    text-align: center;
}

.big-title {
    font-size: 4.5rem;
    line-height: 60px;
}


.btn {
    padding: 5px 15px;
    line-height: normal;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    color: white;
    background: lightslategrey;
}

.btn:hover {
    background: rgb(44, 54, 63);
}

.button-panel {
    position: absolute;
    top: 15px;
    right: 15px;
    list-style: none;
    text-align: right;
}

.button-panel li {
    margin-bottom: 10px;
}

.btn-red {
    top: 15px;
    background: lightcoral;
}

.btn-red:hover {
    background: rgb(187, 88, 88);
}

.btn-blue {
    top: 50px;
    background: rgb(67, 124, 160);
}

.btn-blue:hover {
    background: rgb(59, 100, 126);
}

.btn-green {
    background: rgb(94, 194, 94);
}

.btn-green:hover {
    background: rgb(69, 165, 69);
}

#content {
    padding: 80px 0;
}
